@import url('https://fonts.googleapis.com/css2?family=baloo da');

:root {
  --font-family: 'Baloo da', sans-serif;
}

:root {
  --color-text: #722F0D;
  --color-text-2: #D6A485;
  --color-text-3: #F78B41;
  -color-text-4: #DDA585;
  -color-text-5: #D6A485;
  -color-button: #AC562A;
  -color-button-2: #DEBAA7;
}
